/*
 Aauthor : Adarsh Negi; 
 Theam : Restaurant;
 version : 1.0;
*/
*{
    margin: 0 0;
    padding: 0 0;
}
.wrapper{
    padding: 1%;
    margin: 0 4%;
    width: 70%;
}
.clear{
    float: none;
    clear: both;
}
.text-center{
    text-align: center;
}
.menu{
    border-bottom:2px solid olive;
}
.menu ul{
    list-style: none; 
}
.menu ul li{
    display: inline;
    font-weight: bold;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    color: #e67e22;
}
.menu ul li a:hover{
    color: #d35400;
}
.main-content{
    background-color: lightgray;
}
.col{
    background-color: white;
    width: 20%;
    padding: 2%;
    margin: 1%;
    float: left;
}
.success{
    color: green;
}
.fail{
    color: red;
}

/*CSS for footer*/

.footer{
    background-color: burlywood;
}

/*CSS for Manade-admin*/

.btn{
    padding: 1%;
    background-color: #4b7bec;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.btn:hover{
    background-color: blue;
}
.table-adm{
    background-color: white;
    border-radius: 10px;
    width: 125%;
}
table tr th{
    padding: 1%;
    margin: 1%;
    border-bottom: 2px solid black;
}
table tr td{
    padding: 1%;
    text-align: center;
}
.btn-primary{
    text-decoration: none;
    padding: 1%;
    background-color: #26de81;
    font-weight: bold;
    border-radius: 2px;
}
.btn-primary:hover{
    background-color: #20bf6b;
}
.btn-secondary{
    text-decoration: none;
    padding: 1%;
    background-color: #ff7979;
    font-weight: bold;
    border-radius: 2px;
    margin: 0 1%;
}
.btn-secondary:hover{
    background-color: #eb4d4b;
}
.btn-thrd{
    text-decoration: none;
    padding: 1%;
    background-color: #4b7bec;
    font-weight: bold;
    color: white;
    border-radius: 2px;
}
.btn-thrd:hover{
    background-color: blue;
}

/*CSS for adding Admin*/
.tbl-add-admin{
    padding: 1%;
    width: 30%;
}

/*CSS for warning pop up window*/
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #474e5d;
    opacity: 0.9;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto 15% auto; 
    border: 1px solid #888;
    width: 30%;
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .cursor{
      cursor: pointer;
  }
  