/*
 Aauthor : Adarsh Negi; 
 Theam : Restaurant;
 version : 1.0;
*/

/*CSS for login*/
*{
    background-color: coral;
}
.login{
    border: 2px solid black;
    padding: 1%;
    width: 30%;
    text-align: center;
    margin: 10% auto;
    background-color: wheat;
}
h2{
    background-color: wheat;
}
.lg-form{
    background-color: wheat;
}
.lg-form input[type="text"]{
    background-color: white;
    border-radius: 6px;
}
.lg-form input[type="password"]{
    background-color: white;
    border-radius: 6px;
}
.lg-form input[type="submit"]{
    background-color: #badc58;
    padding: 2%;
    font-weight: bold;
}
a{
    margin: 45%;
    font-size: 1.2rem;
}